@font-face {
  font-family: "Norse-Bold";
  src: url('./assets/fonts/Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  background-image: url("./assets/images/halie-west-25xggax4bSA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 35vw;
  display: flex;
  flex-direction: column;
}

#logo-main {
  flex: 1 0 0;
}

#logo-bar {
  font-family: 'Norse-Bold';
  color: white;
  font-size: 5vh;
  margin-top: 22vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 19, 19, 0.5);
}

#logo-photo-credit {
  color: white;
  text-align: center;
  margin: 5px;
}

#logo-photo-credit a {
  color: white;
}

#photo-credit {
  position: relative;
  bottom: 0;
}
#logo-bar h1 {
  margin: 5px;
}

#odin-logo {
  height: 12vh;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#headline {
  padding: 15vh 13vw 2vh 3vw;
}

.headline, h2 {
  font-size: large;
  font-weight: bold;
}

#headline_main {
  margin-bottom: 0;
}

#call_to_action {
  margin-top: 0;
}

#form_main {
  box-shadow: 0 0 5px rgba(69, 69, 69, 0.5);
  padding: 0;
  min-width: 100%;
}

form h2, #form_body {
  padding: 15px 13vw 0 3vw;
  margin: 0;
}

#form_body {
  padding-top: 0;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.columns {
  display: flex;
  flex-direction: column;
}

.ps_toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ps_toggle label {
  margin-top: 0;
}

#column1 {
  padding-right: 60px;
}

label {
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 0.1em;
  color: rgb(59, 59, 59);
}

input {
  font-size: 20px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

input:not(:focus) {
  border-color: lightgray;
  box-shadow: none;
}

input:focus {
  outline: none;
  border-style: solid;
  border-color: blue;
  box-shadow: 0 0 5px 1px rgb(117, 117, 117);
}

button {
  color: white;
  font-size: 18px;
  padding: 10px 40px;
  font-weight: bold;
  margin: 25px 3vw;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(51, 51, 51);
  background-color: #596D48;
}

#log_in_prompt {
  padding-left: 3vw;
}

#log_in_prompt a {
  font-weight: bold;
  color:#596D48;
  text-decoration: none;
}

#password:invalid, #confirm_password:invalid {
  border-color: red;
}